@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


:root {
  --color-Red: hsl(0, 78%, 62%);
  --color-Cyan: hsl(180, 62%, 55%);
  --color-Orange: hsl(34, 97%, 64%);
  --color-Blue: hsl(212, 86%, 64%);
  --color-Very-Dark-Blue: hsl(234, 12%, 34%);
  --color-Grayish-Blue: hsl(229, 6%, 66%);
  --color-Very-Light-Gray: hsl(0, 0%, 98%);

}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END CSS RESET */


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--color-Very-Light-Gray);
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex: 1 0 auto;
  margin: 0 30vw;

}

.header-text{
 font-weight: 200;
 font-size: 2em;
  color: var(--color-Grayish-Blue);
}

.subheader{
 font-weight: 600;
 font-size: 2em;
 color: var(--color-Very-Dark-Blue)
}

.header-copy{
  font-weight: 400;
  font-size: 1.1em;
  text-align: center;
  color: var(--color-Grayish-Blue);
}

.main{
  display: flex;
  flex: 2 0 auto;
  align-items: center;
  justify-content: center;
  width: 80vw;
}

.column{
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.middle{
  align-items: center;
  flex-basis: content;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: auto;
  width: 20vw;
  height: 20vh;
  margin: 1rem;
  padding: 1.4rem;
  box-shadow: 3px 11px 24px -2px rgba(76, 78, 97, 0.56);
  border-radius: 4px;
}
.title {
  color: var(--color-Very-Dark-Blue);
  font-weight: 600;
  font-size: 1.2em;
}
.copy {
  color: var(--color-Grayish-Blue);
  font-weight: 400;
  font-size: .75em;

}

.left {
  align-items: flex-end;
}

img {
  align-self: flex-end;
}

.supervisor {
  border-top: 3px solid var(--color-Cyan);
}

.team-builder{
  border-top: 3px solid var(--color-Red);
}

.calculator {
  border-top: 3px solid var(--color-Blue);
}

.karma {
  border-top: 3px solid var(--color-Orange);
}

footer {
  align-self: center;
  position: absolute;
  bottom: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--color-Grayish-Blue);
}
.attribution a {
  color: var(--color-Orange);
  text-decoration: none;
}